<ion-header>
  <ion-toolbar>
    <ion-title>Forgot Password</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
      <ion-row justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <form #forgotPassForm="ngForm">
          <div padding>
              <ion-item>
                  <ion-label position="floating">Email ID:</ion-label>
                  <ion-input 
                  type="email" 
                  name="userEmail" 
                  ngModel
                  required 
                  email
                  #userEmail="ngModel"></ion-input>
              </ion-item>

            <p *ngIf="!userEmail.valid && userEmail.touched" class="help-block">Email is invalid.</p>
    
          <div padding>
            <ion-button type="submit" expand="block" (click)="onForgotPass()" [disabled]="!forgotPassForm.valid">Recover Password</ion-button>
          </div>
          
          </div>
        </form>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
