<ng-scrollbar class="my-scrollbar">
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-label class="align-bottom col-8"  style="font-size: 15px"></ion-label>
            </ion-col>
            <ion-col>
                <ion-button class="col-4 pull-right" style="font-size: 10px" (click)="addAddressClick()" fill="outline" shape="round">
                    <ion-icon name="add"></ion-icon> &nbsp; Add new address
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
    <app-address *ngFor="let address of addresses" [address]="address" [state]="true"></app-address>
</ng-scrollbar>