<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>About Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-label style="font-size: 30px" padding>
    Built by the BEST<ion-icon name="heart"></ion-icon>
  </ion-label>
  <ion-card padding>
    <ion-card-header>
      <ion-card-title>
        Shivam Shah <ion-icon name="medal"></ion-icon><br>
        Pruth Shah <ion-icon name="ribbon"></ion-icon><br>
        Pruthvi Soni <ion-icon name="flame"></ion-icon><ion-icon name="planet"></ion-icon><br><br>
        Have Pizza <ion-icon name="pizza"></ion-icon>

      </ion-card-title>
    </ion-card-header>

  </ion-card>
</ion-content>