.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

.li-ionic4-datePicker {
  .modal-wrapper {
    height: 75%;
    width: 310px;
    border-radius: 0px;
    @media (min-width: 768px) {
       width: 350px;
       height: 65%;
    }
  }
}